<div class="p-4">
    <div class="container">
        <h1>Ordine n. {{orderId}}</h1>
        <form [formGroup] = "form" (ngSubmit) = "OnSubmit()">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="width: 40%">Nome piatto</th>
                        <th style="width: 20%">Stato</th>
                        <th style="width: 20%">Categoria</th>
                        <th style="width: 40%">Prezzo (IVA inclusa)</th>
                    </tr>
                </thead>
                <tbody *ngFor="let order of orders">
                    <tr *ngFor="let i of order.dishes.keys()">
                        <td>{{order.dishes[i].name}}</td>
                        <td>{{order.dishes[i].state}}</td>
                        <td>{{order.dishes[i].category}}</td>
                        <td>{{order.dishes[i].price | currency: '€' : 'code' : '1.2' : 'it-IT'}}</td>
                    </tr> 
                </tbody>
                <tbody>
                    <td><b>Costo coperti</b></td><td></td><td></td>
                    <td>{{2*this.orders[0].covers  | currency: '€' : 'code' : '1.2' : 'it-IT'}}</td>
                    <tr>
                        <td><b>Totale</b></td><td></td><td></td>
                        <td>{{bill() | currency: '€' : 'code' : '1.2' : 'it-IT'}}</td>
                    </tr>
                </tbody>
            </table>
            <div>
                <button (click)="generatePDF($event)" class="btn btn-sm btn-primary me-1">Stampa scontrino</button>&nbsp;
                <button *ngIf="orders[0].paymentRequest && total !== 0" class="btn btn-sm btn-primary me-1">
                    <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                    Libera il tavolo
                </button>
            </div>
            <div>&nbsp;</div>
            <a routerLink="../../../">Indietro</a>
        </form>
    </div>
</div>