<div class="p-4">
    <div class="container">
        <h1>{{title}}</h1>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="mb-3 col">
                    <label class="form-label">Nome</label>
                    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">Il nome è necessario</div>
                    </div>
                </div>
                <div class="mb-3 col">
                    <label class="form-label">Cognome</label>
                    <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Il cognome è necessario</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col">
                    <label class="form-label">Username</label>
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username è necessario</div>
                    </div>
                </div>
                <div class="mb-3 col">
                    <label class="form-label">
                        Password
                        <em *ngIf="id" style="font-size:x-small;">(Opzionale)</em>
                    </label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                       
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password è necessaria</div>
                        <div *ngIf="f.password.errors.minlength">Password deve essere almeno di 6 caratteri</div>
                    </div>
                </div>
            </div>
            <div class="mb-3 col">
                <label class="form-label">Ruolo</label>
                    <select class="form-control" formControlName="role" [ngClass]="{ 'is-invalid': submitted && f.role.errors }" >
                        <option></option>
                        <option *ngFor="let role of roles" [value]="role.value">
                            {{role.value}}
                        </option>
                    </select>
            </div>
            <div class="mb-3">
                <button [disabled]="submitting" class="btn btn-primary">
                    <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                    Salva
                </button>
                <a routerLink="/users" class="btn btn-link">Annulla</a>
            </div>
        </form>
        <div *ngIf="loading" class="text-center m-5">
            <span class="spinner-border spinner-border-lg align-center"></span>
        </div>
    </div>
</div>