<div class="container col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">Registrazione</h4>
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label class="form-label">Nome</label>
                    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">Il nome è necessario</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Cognome</label>
                    <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Il cognome è necessario</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Lo username è necessario</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password obbligatoria</div>
                        <div *ngIf="f.password.errors.minlength">Password deve essere almeno di 6 caratteri</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label>Ruolo</label>
                    <input readonly="text" formControlName="role" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                    <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                        <div *ngIf="f.role.errors.required">Ruolo obbligatorio</div>
                    </div>
                </div>
                <div>
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                        Registra
                    </button>
                    <a routerLink="../login" class="btn btn-link">Annulla</a>
                </div>
            </form>
        </div>
    </div>
</div>